@page "/notifications"

@attribute [StreamRendering]
@using System.ComponentModel.DataAnnotations
@using Frontend.Components.Layout
@using Microsoft.AspNetCore.Identity
@using Frontend.Data
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext DbContext
@inject HttpClient Http

<PageTitle>Notifications</PageTitle>

<h3>Notifications</h3>

<div id="detailspage">
    <div class="container">
        @if (user == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <aside id="aside-profile">
                <div class="profile-info">
                    <img src="@user.ProfileImage" alt="@($"{user.FirstName} {user.LastName}")" />
                    <h5>@($"{user.FirstName} {user.LastName}")</h5>
                    <p>@user.Email</p>
                </div>
                <ManageNavMenu />
            </aside>
        }

        <section id="newsletter">
            <div class="container">
                <EditForm Model="Input" OnValidSubmit="OnValidSubmitNewsletterAsync" FormName="newsletterForm">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="email">Enter email to subscribe to newsletter</label>
                        <InputText type="email" id="email" @bind-Value="Input.Email" class="form-control" />
                        <ValidationMessage For="() => Input.Email" />
                    </div>

                    <button class="btn-theme-s" type="submit">Subscribe to news</button>
                </EditForm>

                <NavLink href="/unsubscribe" class="btn-gray"><span>Unsubscribe page</span></NavLink>



            </div>
        </section>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private SubscriberInput Input { get; set; } = new();





    protected override async Task OnInitializedAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);



    }

    private async Task OnValidSubmitNewsletterAsync()
    {
        try
        {
            if (!string.IsNullOrWhiteSpace(Input.Email))
            {
                var subscriber = new SubscriberEntity { Email = Input.Email };
                await DbContext.Subscribers.AddAsync(subscriber);
                await DbContext.SaveChangesAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error occurred while subscribing: {ex.Message}");
        }
    }

   

    private class SubscriberInput
    {
        [Display(Name = "Email")]
        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Invalid email format")]
        public string? Email { get; set; }
    }


}