@namespace Frontend.Components.Layout

@using Microsoft.AspNetCore.Identity
@using Frontend.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

@rendermode InteractiveAuto

<nav>
    <NavLink href="/account/details" class="btn-theme"><span>Account details</span></NavLink>
    <button @onclick="HandleSignOut" class="btn-gray"><span>Sign out</span></button>
    <NavLink href="/notifications" class="btn-gray"><span>Notifications</span></NavLink>
</nav>


@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;



    private async Task HandleSignOut()
    {
        try
        {
            await SignInManager.SignOutAsync();
            NavigationManager.NavigateTo("/signin");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error signing out: {ex.Message}");
        }
    }
}
